/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

body{
  background-color: #115ff4;
  color: white;
}

table{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  width: 90%;
}

table, th, td, tr{
  border: 1px solid;
}

div, h1{
  text-align: center;
}

/*
https://www.w3schools.com/howto/howto_css_loader.asp
*/
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-left: auto;
  margin-right: auto;
}
