* {
  /* box-sizing: border-box; */
}

:focus {
 /* TODO */
}

body {
  background-image: linear-gradient(to right, gold, orangered)
}

input {
 /* TODO */
}

#fruit{
  height: 25px;
}

.bold{
  font-weight: bold;
}

.search-container {
  width: 100%;
  margin-top: 45%;
}
.search-container input,
.search-container .suggestions {
  width: 20%;
  /*center on page*/
  display: block;
  margin: 0 auto;
  /*see through*/
  /*background-image: linear-gradient(to right, rgb(255,157,0), rgb(255,127,0))*/
  /* match example background*/
  background-image: linear-gradient(to right, rgb(255,195,0), rgb(255,165,0)); 
  /*no border, overridden for search box below*/
  border-style: none; 
  /*no outline when clicked into*/
  outline: none; 
}
.search-container input {
  border-bottom: solid orangered;
  /*make slightly rounded*/
  border-radius: 5px;
  padding: 5px;
}
.search-container .suggestions {
}

ul {
  /* Remove bullets */
  list-style-type: none;
  /* Remove margins */
  margin: 0;
  /* remove padding */
  padding: 0;
  /* Change cursor to pointer */
  cursor: pointer;
}
ul.has-suggestions {
}
ul li {
  padding: 5px;
}
ul li:hover {
  background-color: orangered;
}

input {
   /* TODO */
}